{% load compress %} 
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">   
    <link rel="stylesheet" href="{% static 'src/output.css' %}?v={% now 'U' %}"/>    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet"/> 
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body class="bg-gradient-to-b from-teal-50 via-brown-50 to-white min-h-screen">
    <div class="flex h-screen">
        <!-- Sidebar text-white-->
        
        <!-- <div id="sidebar" class=" w-16 lg:w-16 bg-teal-700 p-4 transition-all duration-300 ">          -->
        <div id="sidebar" class="fixed top-0 left-0 h-screen bg-teal-700 p-4 transition-all duration-300 z-50 w-16">

            <button onclick="toggleSidebar()" class="mb-4 "><i class="fa-solid fa-seedling fa-xl"></i></button>
            <ul class="text-teal-100 space-y-4">
                <li class="my-2 flex items-center py-4 "><a href="{% url 'Homepage' %}"><i class="fa-solid fa-house fa-xl mr-2"></i><span id="home-text" class="hidden">Home</span></a></li>
                
                <li class="my-2 flex items-center py-4  {% if request.resolver_match.url_name == 'mainSection' %}bg-teal-100 text-teal-800 py-4 my-2 rounded-2xl{% endif %}">
                    <a href="{% url 'mainSection' %}"  >
                        <i class="fa-solid fa-cloud-sun-rain fa-xl mr-2"></i>
                        <span id="forecast-text" class="hidden">Forecast</span>
                    </a>
                </li>
                <li class="my-2 flex items-center py-4 {% if request.resolver_match.url_name == 'hub' %}bg-teal-100 text-teal-800 py-4 my-2 rounded-2xl{% endif %}">
                    <a href="{% url 'hub' %}" >
                        <i class="fa-solid fa-book fa-xl mr-2"></i>
                        <span id="learning-text" class="hidden">Resource Hub</span>
                    </a>
                </li>
                <li class="my-2 flex items-center py-4  {% if request.resolver_match.url_name == 'chat' %}bg-teal-100 text-teal-800 py-4 my-2 rounded-2xl{% endif %}">
                    <a href="{% url 'chat' %}">
                        <i class="fa-solid fa-comments fa-xl mr-2"></i>
                        <span id="botText" class="hidden">AgriBot</span>
                    </a>
                </li>
                <li class="my-2 flex items-center py-4 {% if request.resolver_match.url_name == 'main' %}bg-teal-100 text-teal-800 py-4 my-2 rounded-2xl{% endif %}">
                    <a href="{% url 'main' %}" >
                        <i class="fa-solid fa-cart-shopping fa-xl mr-2"></i>
                        <span id="marketText" class="hidden">Market</span>
                    </a>
                </li>
                <li class="my-2 flex items-center py-4  {% if request.resolver_match.url_name == 'feed' %}bg-teal-100 text-teal-800 py-4 my-2 rounded-2xl{% endif %}">
                    <a href="{% url 'feed' %}" >
                        <i class="fa-solid fa-people-arrows fa-xl mr-2"></i>
                        <span id="feed-text" class="hidden">Community</span>
                    </a>
                </li>
                <li class="my-2 flex items-center py-4 ">
                    <a href="{% url 'logout' %}" >
                        <i class="fa-solid fa-right-from-bracket fa-xl mr-2"></i>
                        <span id="logout-text" class="hidden">Logout</span>
                    </a>
                </li>

            </ul>
        </div>
        
        <!-- Main Area -->
        <!-- <div class="flex-1 flex flex-col"> -->
        <div id="main-content" class="flex-1 flex flex-col ml-16 transition-all duration-300">


            <div class="bg-teal-100 shadow-md p-4 flex justify-between items-center">
                <h2 class="text-lg md:text-xl text-teal-800">Welcome, {{ user.username }}!</h2>
                <div class="flex items-center">
                    <button onclick="toggleProfilePopup()" class="mr-2 text-teal-700 hover:text-teal-800">👤</button>
                </div>
            </div>
            {% block content %} 
            {% endblock content %}
        </div>
    </div>
    



    <!-- Profile Popup Modal -->
    <div id="profile-popup" class="hidden fixed inset-0 bg-gray-100 bg-opacity-50  flex items-center justify-center">
        <div class="bg-white p-4 shadow-xl w-11/12 md:w-80 backdrop-blur-xl rounded-3xl">
            <h2 class="text-teal-700 text-center font-bold">Profile Details</h2>
            <p><strong>Username:</strong> <span id="profile-username"></span></p>               
            <p><strong>County:</strong> <span id="profile-county"></span></p>
            <p><strong>Phone Number:</strong> <span id="profile-phone"></span></p>
            <p><strong>Role:</strong> <span id="profile-role"></span></p>
            <div class="flex justify-end space-x-3">
                <div class="flex items-center space-x-2">
                    <i class="fa-solid fa-right-from-bracket"></i>
                    <a href="{% url 'logout' %}" id="logout-text" class="text-teal-700">Logout</a>
                </div>
                <button onclick="toggleProfilePopup()" class="hover:bg-teal-700  hover:text-white text-black p-2 rounded-2xl"><i class="fa-regular fa-circle-xmark"></i></button>
            </div>
        </div>
    </div>
   
    {% block modalsContent %}
    {% endblock modalsContent %}
   
    {% block script %}
    {% endblock script %}
</body>
</html>

<script>
// Scripts for the navbar
function toggleSidebar() {
    let sidebar = document.getElementById('sidebar');
    let mainContent = document.getElementById('main-content');
    
    sidebar.classList.toggle('w-16');
    sidebar.classList.toggle('w-56');


    let textElements = ['home-text', 'forecast-text', 'learning-text', 'botText', 'marketText', 'feed-text', 'logout-text'];
    textElements.forEach(id => {
        let element = document.getElementById(id);
        if (sidebar.classList.contains('w-16')) {
            element.classList.add('hidden');
        } else {
            element.classList.remove('hidden');
        }
    });

    // Adjust the main content margin
    if (sidebar.classList.contains('w-56')) {
        mainContent.classList.remove('ml-16');
        mainContent.classList.add('ml-56');
    } else {
        mainContent.classList.remove('ml-56');
        mainContent.classList.add('ml-16');
    }
}
 

// Function for the profile details pop up
function toggleProfilePopup() {
    document.getElementById('profile-popup').classList.toggle('hidden');
    // document.getElementById('myElement').classList.add('flex');
    fetch('/social/profile/')
    .then(response => response.json())
    .then(data => {
        document.getElementById('profile-username').textContent = data.username;
        document.getElementById('profile-county').textContent = data.county;
        document.getElementById('profile-phone').textContent = data.phoneNo;
        document.getElementById('profile-role').textContent = data.role;
    });
}


</script>