absl-py==2.1.0
asgiref==3.8.1
astunparse==1.6.3
blinker==1.9.0
boto3==1.36.16
botocore==1.36.16
cachetools==5.5.2
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
cloudpickle==3.1.1
colorama==0.4.6
contourpy==1.3.0
copulas==0.12.1
ctgan==0.10.2
cycler==0.12.1
deepecho==0.6.1
distlib==0.3.9
Django==5.1.4
django-appconf==1.0.6
django-compressor==4.5.1
django-extensions==3.2.3
django-storages==1.14.5
dw==0.0.1
et_xmlfile==2.0.0
Faker==35.2.0
filelock==3.16.1
Flask==3.1.0
flatbuffers==25.2.10
fonttools==4.54.1
fsspec==2025.2.0
gast==0.6.0
google-api-core==2.24.2
google-auth==2.38.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1
google-cloud-core==2.4.3
google-cloud-storage==3.1.0
google-crc32c==1.7.0
google-pasta==0.2.0
google-resumable-media==2.7.2
googleapis-common-protos==1.69.2
graphviz==0.20.3
grpcio==1.70.0
h5py==3.13.0
httplib2==0.22.0
idna==3.6
imbalanced-learn==0.12.4
imblearn==0.0
itsdangerous==2.2.0
Jinja2==3.1.4
jmespath==1.0.1
joblib==1.4.2
keras==3.8.0
kiwisolver==1.4.7
libclang==18.1.1
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.9.2
mdurl==0.1.2
ml-dtypes==0.4.1
mpmath==1.3.0
namex==0.0.8
narwhals==1.25.2
networkx==3.4.2
numpy==2.0.2
oauthlib==3.2.2
openpyxl==3.1.5
opt_einsum==3.4.0
optree==0.14.0
packaging==24.2
pandas==2.2.3
patsy==1.0.1
pillow==11.0.0
platformdirs==4.3.6
plotly==6.0.0
proto-plus==1.26.1
protobuf==5.29.3
psycopg2-binary==2.9.10
pyasn1==0.6.1
pyasn1_modules==0.4.1
Pygments==2.19.1
pyparsing==3.2.0
python-dateutil==2.9.0.post0
pytz==2024.2
PyYAML==6.0.2
rcssmin==1.1.2
rdt==1.13.2
requests==2.31.0
requests-oauthlib==2.0.0
rich==13.9.4
rjsmin==1.2.2
rsa==4.9
s3transfer==0.11.2
scikit-learn==1.5.2
scipy==1.14.1
sdmetrics==0.18.0
sdv==1.17.4
seaborn==0.13.2
six==1.16.0
sqlparse==0.5.3
statsmodels==0.14.4
sympy==1.13.1
tensorboard==2.18.0
tensorboard-data-server==0.7.2
tensorflow==2.18.0
tensorflow-io-gcs-filesystem==0.31.0
tensorflow_intel==2.18.0
termcolor==2.5.0
threadpoolctl==3.5.0
torch==2.6.0
tqdm==4.67.1
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.2.1
virtualenv==20.28.0
Werkzeug==3.1.3
whitenoise==6.9.0
wrapt==1.17.2
xgboost==2.1.4
